<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wyl.webdemo.mapper.prod.TxAccountMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wyl.webdemo.entity.prod.TxAccount">
        <id column="id" property="id" />
        <result column="org_id" property="orgId" />
        <result column="org_number" property="orgNumber" />
        <result column="user_role" property="userRole" />
        <result column="order_id" property="orderId" />
        <result column="purchase_id" property="purchaseId" />
        <result column="order_price" property="orderPrice" />
        <result column="pay_price" property="payPrice" />
        <result column="vip_level" property="vipLevel" />
        <result column="status" property="status" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="start_time" property="startTime" />
        <result column="end_time" property="endTime" />
        <result column="isdel" property="isdel" />
        <result column="remain_day" property="remainDay" />
        <result column="total_day" property="totalDay" />
        <result column="free_amount" property="freeAmount" />
        <result column="campus_count" property="campusCount" />
        <result column="cascade_account_count" property="cascadeAccountCount" />
        <result column="total_call_time" property="totalCallTime" />
        <result column="sms_count" property="smsCount" />
        <result column="storage_space" property="storageSpace" />
        <result column="account_type" property="accountType" />
        <result column="student_count" property="studentCount" />
        <result column="sms_gate" property="smsGate" />
        <result column="online_org_id" property="onlineOrgId" />
        <result column="online_org_number" property="onlineOrgNumber" />
        <result column="cloud_storage_space" property="cloudStorageSpace" />
        <result column="concurrent_number" property="concurrentNumber" />
        <result column="flowrate" property="flowrate" />
        <result column="info_fill_status" property="infoFillStatus" />
        <result column="init_org_name" property="initOrgName" />
        <result column="org_slogan" property="orgSlogan" />
        <result column="org_logo" property="orgLogo" />
        <result column="module_auth" property="moduleAuth" />
        <result column="customer_id" property="customerId" />
        <result column="remark" property="remark" />
        <result column="baijin_student_count" property="baijinStudentCount" />
        <result column="module_auth_data" property="moduleAuthData" />
        <result column="version_after_three" property="versionAfterThree" />
        <result column="sync_account" property="syncAccount" />
        <result column="copy_role" property="copyRole" />
        <result column="master_permission" property="masterPermission" />
        <result column="mobile_visible" property="mobileVisible" />
        <result column="permission_old_new" property="permissionOldNew" />
        <result column="staff_permission" property="staffPermission" />
    </resultMap>

</mapper>
