<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wyl.webdemo.mapper.hermes.OrgStudentCourseMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wyl.webdemo.entity.hermes.OrgStudentCourse">
        <id column="id" property="id" />
        <result column="org_id" property="orgId" />
        <result column="real_course_id" property="realCourseId" />
        <result column="course_id" property="courseId" />
        <result column="student_id" property="studentId" />
        <result column="student_name" property="studentName" />
        <result column="student_mobile" property="studentMobile" />
        <result column="create_time" property="createTime" />
        <result column="del_status" property="delStatus" />
        <result column="status" property="status" />
        <result column="trade_complete" property="tradeComplete" />
        <result column="lesson_count" property="lessonCount" />
        <result column="charge_unit" property="chargeUnit" />
        <result column="signup_purchase_id" property="signupPurchaseId" />
    </resultMap>

</mapper>
