<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wyl.webdemo.mapper.local.OpLogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wyl.webdemo.entity.local.OpLog">
        <id column="id" property="id" />
        <result column="org_id" property="orgId" />
        <result column="campus_id" property="campusId" />
        <result column="staff_id" property="staffId" />
        <result column="action_name" property="actionName" />
        <result column="module" property="module" />
        <result column="oper" property="oper" />
        <result column="description" property="description" />
        <result column="params" property="params" />
        <result column="ip" property="ip" />
        <result column="status" property="status" />
        <result column="result" property="result" />
        <result column="time" property="time" />
        <result column="del_flag" property="delFlag" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="table_name" property="tableName" />
        <result column="table_id" property="tableId" />
        <result column="remarks" property="remarks" />
    </resultMap>

</mapper>
